* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* margin-left: 10%; */
}

nav {
    position: fixed;
    height: 100vh;
    width: 8%;
    background-color: black;
    padding: 11% 0;
}

nav ul {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
}

i {
    color: rgb(236, 214, 238);
    font-size: 22px;
    /* size: 30px; */
    transition: .5s all;

}
i:hover {
    filter:brightness(10);
    filter: drop-shadow(horizontal-offset vertical-offset blur-radius yellow);

  /* background-color: #3498db; Change background on hover */
  transform: scale(1.5); /* Slightly enlarge on hover */
}



#wrapper {
    height: 100vh;
    margin-left: 8%;
}

.left-right {
    position: relative;
    display: flex;
    min-height: 100vh;
    width: 100%;
    /* margin-left: 1%; */
    /* border: 1px solid; */
}

.left-right img {
    box-shadow: -14px 10px white;
    position: absolute;
    left: 9%;
    top: 30%;
    height: 45%;
    width: 23%;
}

/* .left-right .left { */
    /* background: black; */
    /* width: 20%; */
    /* border: 1px solid; */
    /* height: 100vh; */
/* } */

.left-right .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    /* border: 1px solid; */
    height: 100vh;
}

.left-right .right .name {
    height: auto;
    width: 40%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    border-left: 3px solid;
}

.left-right .right .buttons button {
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 20px;
    margin: 0 10px;
}



.home-wrapper {
    height: 100vh;
    margin-left: 8%;
    display: flex;
    /* background-color: wheat; */
    align-items: center;
    justify-content: center;
    background-color: #E0E0E0;
}

.home-wrapper .about {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 50%;
    box-shadow: 2px 1px 7px 2px black;
    width: 60%;
    /* background: beige; */
    justify-content: center;
    text-align: center;
    box-shadow: inset -3px -3px 7px #ffffff73, inset 3px 3px 5px rgba(94, 104, 121, .288);
}

.home-wrapper .about p {
    font-weight: lighter;
    line-height: 30px;
}
